@import 'tailwindcss';

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and older versions of Firefox */
*::-ms-scrollbar {
  display: none;
}
@theme {
  --color-light-blue: #dbeafe;
  --color-dark-blue: #006fff;

  /* fonts	*/
  --font-light: 'OpenSansLight', sans-serif;
  --font-italic: 'OpenSansItalic', sans-serif;
  --font-regular: 'OpenSansRegular', sans-serif;
  --font-semibold: 'OpenSansSemiBold', sans-serif;
  --font-bold: 'OpenSansBold', sans-serif;
  --font-caveat: 'Caveat', cursive;
}
