@import 'tailwindcss';

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge, and older versions of Firefox */
*::-ms-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  background-color: #242629;
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-main-btn: #7f5af0;
  --color-btn-text: #fffffe;
  --color-heading-text: #fffffe;
  --color-body-text: #94a1b2;
  --color-progress-value: #2cb67d;
  --color-card-bg: #16161a;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
}
